---
const today = new Date();
---

<footer class="footer card bg-base-100 shadow-xl p-6">
  <div class="inline">
    &copy; {today.getFullYear()} m19193136160 ❤️
    <code
      >Visitor count:<span id="busuanzi_value_page_pv"
        ><span class="loading loading-spinner loading-xs"></span></span
      ><code>/</code><span id="busuanzi_value_site_pv"
        ><span class="loading loading-spinner loading-xs"></span></span
      ></code
    >
  </div>
  <div id="busuanzi"></div>
</footer>
<script>
  document.addEventListener("astro:page-load", () => {
    const busuanziDiv = document.getElementById("busuanzi");
    if (busuanziDiv) {
      const script = document.createElement("script");
      script.src = "//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js";
      script.async = true;
      busuanziDiv.appendChild(script);
    }
  });
</script>
